
@{
    ViewBag.Title = "NotificationAuthorize";
}

<h2 style="padding-top:15px;">Thông báo từ quản trị Website</h2>
<div class="alert alert-danger">Bạn không có quyền truy cập vào chức năng này! Hãy liên hệ quản trị Website để được cấp quyền</div>
<div class="col-md-offset-5 col-md-2">
    <button class="btn btn-lg btn-info" onclick="javascrip:history.back()">Quay lại</button>
</div>
